<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"/>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    
    <div id="header">
        <!-- {% block head %}{% endblock %} -->
        {%with messages = get_flashed_messages() %}
            {% if messages %}
            <ul id="flash">
                {% for message in messages %}
                <h3>{{ message }}</h3>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <h1>Inteligent System Design Laboratory</h1>
    </div>
    
    <div id="main-content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <a>by Y.Y on May 19th,2023</a>
    </div>
</body>
</html>